<header>
    <div class="container">
        <a  [routerLink]="'store'"
            [routerLinkActive]="'active'">Магазин</a>
        <a  [routerLink]="'cart'"
            [routerLinkActive]="'active'"
            matBadge="{{productsCount}}"
            matBadgeOverlap="false"
            matBadgeColor="accent">Корзина</a>
    </div>
</header>