:host::ng-deep {
    header {
        display: flex;
        align-items: center;
        height: 50px;
        background-color: #0091EA;

        & a {
            color: #fff;
            margin-right: 15px;
            display: inline-block;
        }

        .active {
            text-decoration: underline;
        }
    }
}