:host::ng-deep {

    .cart {
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;

        mat-card {
            width: 24%;
            margin: 5px 5px 5px 0;
        }

        mat-card-actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__buttons {
            display: flex;
            justify-content: flex-end;
            margin: 15px 0;

            button {
                margin-left: 15px;
            }
        }
    }
}