<ng-container *ngIf="productList.length > 0">
    <div class="container cart">
        <ng-container *ngFor="let product of productList">
            <mat-card>
                <mat-card-title>
                    <p>{{product.name}}</p>
                </mat-card-title>
                <img mat-card-image src="../../../assets/images/product-placeholder.png">
                <mat-card-content>
                    <p>{{product.attr.format}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <p>Цена: {{product.price}}</p>
                    <button mat-stroked-button color="warn" (click)="removeItem(product)">Удалить</button>
                </mat-card-actions>
            </mat-card>
        </ng-container>
    </div>

    <div class="container cart__buttons">
        <button mat-stroked-button color="primary" [routerLink]="'order'">Оформить заказ</button>
        <button mat-stroked-button color="warn" (click)="removeAll()">Очистить корзину</button>
    </div>
</ng-container>

<ng-container *ngIf="productList.length <= 0">
    <div class="container">
        <mat-card>
            <mat-card-title>
                Корзина пуста
            </mat-card-title>
        </mat-card>
    </div>
</ng-container>
