<div class="container store">
    <ng-container *ngFor="let product of data">
            
        <mat-card>
            <mat-card-title>
                <p>{{product.name}}</p>
            </mat-card-title>

            <img mat-card-image src="../../../assets/images/product-placeholder.png">

            <mat-card-content>
                <p>{{product.attr.format}}</p>
            </mat-card-content>
        
            <mat-card-actions>

                <p>Цена: {{product.price}}</p>
                <button mat-stroked-button color="primary" (click)="addToCart(product)">В корзину</button>
            </mat-card-actions>
        </mat-card>
        
    </ng-container>
</div>
