:host::ng-deep {

    .store {
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;

        mat-card {
            width: 24%;
            margin: 5px 5px 5px 0;
        }

        mat-card-actions {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}