:host::ng-deep {
    h1 {
        padding: 25px 0;
        font-size: 22px;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 400px;
        margin-top: 50px;
    }

    mat-card {
        margin-bottom: 5px;
    }
}