<div class="container">

    <h1>Оформление заказа</h1>

    <mat-horizontal-stepper linear #stepper>
        <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
            <form [formGroup]="firstFormGroup">
            <mat-form-field>
                <mat-label>Имя</mat-label>
                <input matInput formControlName="userName" placeholder="Введите имя" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Телефон</mat-label>
                <input matInput formControlName="userPhone" placeholder="Введите телефон" required>
            </mat-form-field>
            <mat-checkbox (change)="changeCheckbox($event)">Согласие на обработку персональных данных</mat-checkbox>
            <div>
                <button mat-button *ngIf="!isChecked">Далее</button>
                <button mat-button matStepperNext *ngIf="isChecked" (click)="getData()">Далее</button>
            </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
            <h1>Список товаров</h1>
            <mat-card *ngFor="let product of productList">
                <mat-card-content>
                    {{product.name}} {{product.attr.format}} - цена: {{product.price}}
                </mat-card-content>
            </mat-card>
            <div>
                <button mat-button matStepperPrevious>Назад</button>
                <button mat-button matStepperNext>Подтвердить заказ</button>
            </div>
        </mat-step>
        
        <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
            <form [formGroup]="thirdFormGroup">
                <mat-form-field>
                    <mat-label>СНИЛС</mat-label>
                    <input matInput formControlName="userSnils" placeholder="Введите СНИЛС" required>
                </mat-form-field>
                <mat-label>Загрузить фото</mat-label>
                <input type="file" formControlName="userPhoto" placeholder="Введите СНИЛС" required>
                <div>
                    <button mat-button matStepperPrevious>Назад</button>
                    <button mat-button matStepperNext>Далее</button>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="fourthFormGroup" [editable]="isEditable">
            <h1>Выбор доставки</h1>
            <mat-form-field>
                <mat-label>Выберите способ доставки</mat-label>
                <mat-select>
                    <mat-option value="1" (click)="selectOption(1)">Самовывоз</mat-option>
                    <mat-option value="2" (click)="selectOption(2)">Доставка</mat-option>
                </mat-select>
            </mat-form-field>
            <ng-container *ngIf="checkedOption == 1">
                <h1>Самовывоз доступен в городах: Москва, Воронеж</h1>
            </ng-container>
            <ng-container *ngIf="checkedOption == 2">

                <p>ФИО: {{firstFormGroup.controls.userName.value}}</p>
                <p>Телефон: {{firstFormGroup.controls.userPhone.value}}</p>
                <form [formGroup]="fourthFormGroup">
                    <mat-form-field>
                        <mat-label>Введите адресс</mat-label>
                        <input matInput formControlName="userAddress" placeholder="Введите адресс" required>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Введите индекс</mat-label>
                        <input matInput formControlName="userIndex" placeholder="Введите индекс" required>
                    </mat-form-field>
                </form>
            </ng-container>
                <div>
                    <button mat-button matStepperPrevious>Назад</button>
                    <button mat-button matStepperNext>Далее</button>
                </div>
        </mat-step>

        <mat-step [stepControl]="fiveFormGroup" [editable]="isEditable">
            <ng-container *ngIf="!isLoaded && !isFinished">
                <p>ФИО: {{firstFormGroup.controls.userName.value}}</p>
                <p>Телефон: {{firstFormGroup.controls.userPhone.value}}</p>
                <p>Адрес: {{fourthFormGroup.controls.userAddress.value}}</p>
                <p>Индекс: {{fourthFormGroup.controls.userIndex.value}}</p>
                <mat-card *ngFor="let product of productList">
                    <mat-card-content>
                        {{product.name}} {{product.attr.format}} - цена: {{product.price}}
                    </mat-card-content>
                </mat-card>
                <div>
                    <button mat-button matStepperPrevious>Назад</button>
                    <button mat-button (click)="order()">Заказать</button>
                </div>
            </ng-container>

            <mat-spinner *ngIf="isLoaded"></mat-spinner>

            <mat-card *ngIf="isFinished">
                <h1>Ваш заказ отпрален</h1>
                <button mat-stroked-button color="primary" [routerLink]="'store'">Вернуться в каталог</button>
            </mat-card>
        </mat-step>


    </mat-horizontal-stepper>
</div>